{{- $image := .Params.image -}}
{{- if (findRE "(^|:)//" $image) -}}
    {{- .Scratch.Set "imgSrc" $image -}}
{{- else -}}    
    {{- $resource := .Page.Resources.GetMatch (printf "*%s*" $image) -}}
    {{- $smallResource := $resource.Resize "500x Lanczos" -}}
    {{- $mediumResource := $resource.Resize "850x Lanczos" -}}
    {{- $largeResource := $resource.Resize "1200x Lanczos" -}}
    {{- .Scratch.Set "imgSrc" $resource.RelPermalink -}}
    {{- .Scratch.Set "s-imgSrc" $smallResource.RelPermalink -}}
    {{- .Scratch.Set "m-imgSrc" $mediumResource.RelPermalink -}}
    {{- .Scratch.Set "l-imgSrc" $largeResource.RelPermalink -}}
{{- end -}}
{{- $imgSrc := .Scratch.Get "imgSrc" -}}
<article class="post">
    <div class="post-image">
        <figure class="image {{ if .Params.ratio }}is-{{ .Params.ratio }}{{ else }}is-4by3{{ end }}" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <a href="{{ $imgSrc }}" itemprop="contentUrl"> 
                <img 
            {{ if .Scratch.Get "s-imgSrc" -}} 
                itemprop="thumbnail" src="{{ $imgSrc }}"
                srcset="{{ .Scratch.Get "l-imgSrc" }} 1200w, {{ .Scratch.Get "m-imgSrc" }} 850w, {{ .Scratch.Get "s-imgSrc" }} 500w"
                sizes="(min-width: 769px) 70vw, 100vw"
            {{- else -}}
                src="{{ $imgSrc }}"
            {{- end }}
                alt="{{ .Title | safeHTMLAttr }}">
            </a>
            <figcaption class="post-image-caption is-size-7">{{ .Params.description }}</figcaption>
        </figure>
    </div>
    {{ if .Title }}
    <div class="post-body is-insta">
        <p>
            {{ .Title }}
            {{ with .Params.tags }}
                {{ range . }}
                    <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">#{{ . }}</a>
                {{ end }}
            {{ end }}
        </p>
    </div>
    {{ end }}
</article>