<article class="h-entry post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="post-image">
        {{- $image := dict
            "src" .Params.image 
            "caption" .Params.description
            "alt" .Title
            "Page" .Page
        -}}
        {{- partial "figure.html" $image -}}
    </div>
    {{ if .Title }}
    <div class="post-body is-insta">
        <p>
            <span class="p-name" itemprop="name">{{ .Title }}</span>
            {{ with .Params.tags }}
                {{ range . }}
                    <a href="{{ "/tags/" | absURL }}{{ . | urlize }}" rel="tag">#<span class="p-category" itemprop="keywords">{{ . }}</span></a>
                {{ end }}
            {{ end }}
        </p>
    </div>
    {{ end }}
</article>