section.articles {
    margin-top: -2.25rem;
    padding: 0;

    @include from($desktop) {
        margin-top: -7.25rem;
        padding: 3.5rem 1.5rem;
    }
}

article {
    &.post {
        @extend .card;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .post-image {
            padding: 0.5rem 0.5rem 0 0.5rem;
            text-align: center;

            // teeny phones
            @include from(340px) {
                text-align: right;
            }

            @include from($tablet) {
                padding: 1.5rem 1.5rem 0 1.5rem;

                img {
                    border: 1px inset;
                }
            }
        }

        .post-header {
            padding: 1.5rem 1.5rem 0 1.5rem;
            
            &.columns {
                margin-bottom: 0;
            }

            .post-meta {
                @extend .subtitle;
                font-size: $size-6;
            }
        }

        .post-body {
            @extend .card-content;

            &>hr {
                margin-top: 0;
            }

            &.is-insta {
                font-size: $size-5;
            }

            .content figure {
                margin-top: 1rem;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .post-footer {
            padding: 2.25rem;
            background-color: $grey-darker;
            color: $white;

            .title {
                color: $white;
                margin-bottom: 0.75rem;
            }

            figure {
                border: 1px solid $white;
            }
        }
    }
}