@use "utilities/css-variables" as cv;
@use "utilities/initial-variables" as iv;

@use "utilities/mixins" as mx;
@use "components/card" as c;
@use "elements/title" as t;

section.articles {
    margin-top: -2.25rem;
    padding: 0;

    @include mx.from(iv.$desktop) {
        margin-top: -7.25rem;
        padding: 3.5rem 1.5rem;
    }
}

article {
    &.post {
        @extend .card;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        .post-image {
            padding: 0.5rem 0.5rem 0 0.5rem;
            text-align: center;

            // teeny phones
            @include mx.from(340px) {
                text-align: right;
            }

            @include mx.from(iv.$tablet) {
                padding: 1.5rem 1.5rem 0 1.5rem;
            }
        }

        .post-header {
            padding: 1.5rem 1.5rem 0 1.5rem;
            
            &.columns {
                margin-bottom: 0;
            }
        }

        header.media {
            .title {
                margin-bottom: 0;
            }
        }

        .post-header, header.media {
            .post-meta {
                @extend .subtitle;
                font-size: iv.$size-6;
                margin-top: 0.25rem;

                a {
                    color: inherit;

                    i {
                        opacity: 0;
                        transition: opacity iv.$speed iv.$easing;
                    }

                    &:hover i {
                        opacity: 1;
                    }
                }
            }
        }

        .post-body {
            @extend .card-content;

            &>hr {
                margin-top: 0;
            }

            &.is-insta {
                font-size: iv.$size-5;
            }

            .content {
                @include cv.register-vars(
                    ( 
                        "content-heading-family": t.$title-family,
                    )
                );

                figure {
                    margin-bottom: 1.5rem;
                    margin-left: 0;
                    margin-right: 0;

                    &.is-pulled-left {
                        margin-top: 0.5rem;
                        margin-right: 1rem;
                    }

                    &.is-pulled-right {
                        margin-top: 0.5rem;
                        margin-left: 1rem;
                    }
                }

                @for $i from 1 through 5 {
                    h#{$i} {
                        font-family: cv.getVar("content-heading-family");
                    }
                }

                .highlight:not(:last-child) {
                    margin-bottom: 1rem;
                }

                .gallery {
                    margin-top: 1.5rem;
    
                    figure {
                        margin: 0;
    
                        img {
                            box-shadow: c.$card-shadow;
                            padding: 0.25rem;
                        }
                    }
                }

                .haiku {
                    text-align: center;
                    font-style: italic;
                    font-size: iv.$size-5;
                    font-weight: iv.$weight-light;

                    @include mx.from(iv.$tablet) {
                        font-size: iv.$size-3;
                    }
                }
            }
        }

        .post-footer {
            padding: 2.25rem;
            background-color: iv.$grey-darker;
            color: iv.$white;

            .title {
                color: iv.$white;
                margin-bottom: 0.75rem;
            }

            figure {
                border: 1px solid iv.$white;
            }
        }

        .post-comments {
            @extend .card-content;
        }
    }
}