$rmwd-orange: hsl(13, 87%, 33%);
$linkedin: hsl(201, 100%, 35%);
$twitter: hsl(206, 82%, 63%);
$github: hsl(0, 0%, 20%);

@use "utilities" with (
    $scheme-h: 0,
    $scheme-s: 0%,

    $family-primary: '"Raleway", "Helvetica", "Arial", sans-serif',
    $family-secondary: '"Nunito", "Helvetica", "Arial", sans-serif',

    $custom-colors: (
        'link': $rmwd-orange,
        'info': $rmwd-orange,
        'rmwd-orange': $rmwd-orange,
        'linkedin': $linkedin,
        'twitter': $twitter,
        'github': $github,
    ),

    $radius: 0.25rem,
);

@use "utilities/initial-variables" as iv;
@use "utilities/derived-variables" as dv;

@forward "base";
@forward "layout";
@forward "helpers";

// Grid 
@forward "grid";

// Elements 
@forward "elements/content" with (
    $content-heading-weight: iv.$weight-light,
);
@forward "elements/icon";
@forward "elements/image";
@forward "elements/notification";
@forward "elements/tag";
@use "elements/title" with (
    $title-family: dv.$family-secondary,
    $title-weight: iv.$weight-light,
    $subtitle-family: dv.$family-secondary,
    $subtitle-weight: iv.$weight-light
);

// Components
@use "components/card" with (
    $card-radius: iv.$radius,
    $card-background-color: hsl(0, 0%, 100%),
);
@forward "./navbar";

@use "themes/light";
@use "themes/setup";
:root {
    @include light.light-theme;
    @include setup.setup-theme;
}