@use "utilities/css-variables" as cv;
@use "utilities/initial-variables" as iv;
@use "utilities/derived-variables" as dv;

.hero {
    @extend .hero;

    &.has-image {
        background: url('/images/cover.jpg') no-repeat center center;
        background-size: cover;

        .title, .subtitle {
            text-shadow: 1px 1px 2px iv.$black;
        }
    }

    & .hero-body {
        padding: 3rem 1.5rem 4.5rem;
    }

    .title, .subtitle {
        color: iv.$white;
    }

    .tag {
        @include cv.register-vars(
            ( 
                "link-text": dv.$text,
            )
        );
    }
}