@use "utilities/css-variables" as cv;
@use "utilities/derived-variables" as dv;
@use "utilities/initial-variables" as iv;
@use "utilities/mixins" as mx;

@use "components/navbar" as nb with (
    $navbar-background-color: hsl(221, 14%, 21%)
);

main {
    padding-top: nb.$navbar-height;
}

.navbar {    
    &.is-transparent {
        background-color: iv.$grey-darker;

        .navbar-brand {
            height: nb.$navbar-height;
        }
    }

    .navbar-item {
        color: iv.$white;
        gap: 0;

        &:hover, &:active, &:focus, &:focus-within {
            background-color: transparent;
        }

        img {
            max-height: 2.25rem; 
        }

        .icon svg {
            height: 1.25rem;
        }
    }

    .navbar-burger {
        color: iv.$white;
        height: nb.$navbar-height;
    }

    .title {
        font-size: iv.$size-4;
        color: iv.$white;
    }

    a {
        color: iv.$white;
        fill: iv.$white;

        &:hover {
            fill: cv.getVar("link-text");;
            color: cv.getVar("link-text");;
        }
    }
}

@include mx.mobile() {
    .navbar .title {
        font-size: iv.$size-5;
    }
}

// teeny phones
@include mx.until(340px) {
    .navbar .title {
        font-size: iv.$size-6;
    }
}

@include mx.from(iv.$desktop) {
    main {
        padding-top: 0;
    }

    .navbar {
        transition: background-color iv.$speed iv.$easing;
        
        &.is-transparent {
            background-color: transparent;
            background-image: none;

            .navbar-brand {
                height: 6.25rem;
                transition: height iv.$speed iv.$easing;
            }
            &.is-scrolled {
                background-color: iv.$grey-darker;

                .navbar-brand {
                    height: nb.$navbar-height;
                }
            }
        }
    }
}
    