@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nunito:300i,400|Raleway');

@import "./bulma";
@import "./syntax";
@import "./navbar";
@import "./article";
@import "./hero";
@import "./pagination";
@import "./toot";

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "~viewerjs/dist/viewer.css";

h1, h2, h3, h4, h5, h6,
.title, .subtitle {
    font-family: $header-sans-serif;
    font-weight: $weight-light;
}
.content {
    h1, h2, h3, h4, h5, h6 {
        font-weight: $weight-light;
    }
}
