{{ define "title" }}
    {{ .Title | safeHTML }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<main class="h-entry" role="main">
    {{ partial "responsive-cover.html" . }}
    <header class="hero is-medium is-info is-bold has-image">
        <div class="hero-body">
            <div class="container">
                <h1 class="p-name title">{{ .Title | safeHTML }}</h1>
                <ul id="tags">
                    {{- range .Params.tags -}}
                    <li class="p-category tag"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" rel="tag">{{ . }}</a></li>&nbsp;
                    {{- end -}}
                </ul>
            </div>
        </div>
    </header>
    <section class="section articles">
        <article class="container">
            <div class="column is-8 is-offset-2">
                <article class="post">
                    <div class="post-header columns is-gapless">
                        <div class="column">
                            <p class="post-meta"><time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></p>
                        </div>
                        <div class="column">
                            <p class="post-meta has-text-right-tablet">{{ .FuzzyWordCount }} Words &mdash; {{ partial "reading-time" .ReadingTime }}</p>
                        </div>
                    </div>
                    <div class="post-body">
                        <hr />
                        <div class="e-content content">
                            {{ .Content }}
                        </div>
                    </div>
                    {{ with .Params.author }}
                        {{ with $.Site.GetPage ( printf "author/%s" . ) }}
                            <div class="p-author h-card post-footer">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="{{ (.Resources.GetMatch (printf "*%s*" .Params.photo)).RelPermalink }}" class="u-photo" alt="Image of author">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <h5 class="p-name title is-5">{{ .Params.name }}</h5>
                                        <span class="p-note">{{ .Content }}</span>
                                    </div>
                                </div>
                            </div>
                        {{ end }}
                    {{ end }}
                    {{ if eq .Page.Type "post" }}
                        <div class="post-comments">
                            <h2 class="title is-4">Comments</h2>
                            {{ partial "comments" . }}
                        </div>      
                    {{ end }}  
                </article>
            </div>
        </article>
    </section>
    
</main>
{{ end }}