<article class="h-entry post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
    <div class="post-body">
        <header class="media">
            <div class="media-content">
                <h2 class="p-name title is-size-4" itemprop="name"><a class="u-url" href='{{ .Permalink }}' itemprop="mainEntityOfPage">{{ .Title | safeHTML }}</a></h2>
                <p class="post-meta is-size-6">
                    <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> &mdash;
                    {{ .FuzzyWordCount }} Words &mdash; 
                    {{ partial "reading-time" .ReadingTime }}
                </p>
            </div>
        </header>
        <div class="e-content content">   
            {{ $summary_splits := split .Summary "<!--start-summary-->" }}
            {{ if eq (len $summary_splits) 2 }}
                {{ index $summary_splits 1 | safeHTML }}
            {{ else if (not .Params.do_not_summarise | default false ) }}
                {{ .Summary }}
            {{ else }}
                {{ .Content }}
            {{ end }}
        </div>
        {{ if (and .Truncated (not .Params.do_not_summarise | default false )) }}
        <footer>
            <a href='{{ .Permalink }}'><nobr>Read more →</nobr></a>
        </footer>
        {{ end }}
    </div>
</article>