<link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "icons/apple-touch-icon.png").Permalink }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "icons/favicon-32x32.png").Permalink }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "icons/favicon-16x16.png").Permalink }}">
<link rel="manifest" href="{{ (resources.Get "icons/site.webmanifest").Permalink }}">
<link rel="mask-icon" href="{{ (resources.Get "icons/safari-pinned-tab.svg").Permalink }}" color="#4a4a4a">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#4a4a4a">