{{ if .IsPage -}}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink | absURL }}"
  },
  {{ if .Params.coverimage -}}
  "image": {
    "@type": "ImageObject",
    "url": "{{ ($.Resources.GetMatch (printf "images/%s*" .Params.coverimage)).Permalink | absURL }}"
  },
  {{- else -}}
  {{- with .Site.GetPage "media/covers" -}}
    "image": {
      "@type": "ImageObject",
      "url": "{{ (index (.Resources.ByType "image" | shuffle | first 1) 0).Permalink | absURL }}"
    },
  {{- end -}}
  {{- end }}
  {{ with .Params.tags -}}
  "keywords": "{{ delimit . ", " }}",
  {{- end }}
  "wordcount": {{ .WordCount }},
  "url": "{{ .Permalink | absURL }}",
  {{ if not .PublishDate.IsZero -}}
  "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- else if not .Date.IsZero -}}
  "datePublished": "{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Lastmod -}}
  "dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" | safeHTML }}",
  {{- end }}
  {{ with .Site.Copyright -}}
  "copyrightHolder": {
    "@type": "Person",
    {{ with $.Site.GetPage ( printf "author/%s" . ) -}}
    "name": "{{ .Params.name }}"
    {{- end }}
  },
  "copyrightYear": "{{ now.Format "2006" }}",
  {{- end }}
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": "{{ "/images/icon-vector.svg" | absURL }}"
  },
  {{ if .Params.author -}}
  "author": {
    "@type": "Person",
    {{ with $.Site.GetPage ( printf "author/%s" .Params.author ) -}}
    "name": "{{ .Params.name }}"
    {{- end }}
  },
  {{ end -}}
  "description": "{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"
}
</script>
{{- end }}