{{- if .IsNamedParams -}}

{{- $parts := split .Site.Params.mastodonName "@" -}}
{{- $finger := getJSON (printf "https://%s/.well-known/webfinger?resource=acct:%s@%s" (index $parts 2) (index $parts 1) (index $parts 2)) -}}
{{- $url := split (index $finger.aliases 0) "@" -}}

{{- $toot := getJSON (printf "%s/api/v1/statuses/%s" (index $url 0) (.Get "id")) -}}

{{- $displayName := $toot.account.display_name -}}
{{- range $index, $emoji := $toot.account.emojis }}
  {{- $shortcode := printf ":%s:" $emoji.shortcode -}}
  {{- if strings.Contains $toot.account.display_name $shortcode -}}
    {{- $emojiElement := printf "<span class=\"icon is-small\"><img src=\"%s\" alt=\"%s\"/></span>" $emoji.url $shortcode -}}
    {{- $displayName = strings.Replace $displayName $shortcode $emojiElement -}}
  {{- end -}}
{{ end -}}

{{- $instanceHost := (urls.Parse $toot.account.url).Host -}}
{{- $acParts := split $toot.account.acct "@" -}}
{{- if eq (len $acParts) 1 -}} 
  {{- $instanceHost = index $parts 2 }}
{{- end -}}

{{- $avatar := $toot.account.avatar -}}
{{- with resources.GetRemote $toot.account.avatar -}}
  {{- with .Err }}
    {{- errorf "%s" . -}}
  {{- else -}}
    {{- $avatar = .RelPermalink -}}
  {{- end -}}
{{- else -}}
  {{- errorf "Unable to get remote resource %q" $avatar -}}
{{- end -}}

<div class="columns is-centered">
  <div class="u-repost-of h-cite toot is-three-fifths" itemprop="sharedContent" itemid="{{ $toot.url }}" itemscope itemtype="https://schema.org/SocialMediaPosting">
    <div class="toot-content">
      <div class="p-author h-card media" itemprop="author" itemscope itemtype="https://schema.org/Person">
        <div class="media-left">
          <a href="{{ $toot.account.url }}" class="u-url" target="_blank" rel="noopener noreferrer">
            <figure class="image is-48x48">
              <img src="{{ $avatar }}" alt="Placeholder image" class="u-photo" itemprop="image">
            </figure>
          </a>
        </div>
        <div class="media-content">
          <a href="{{ $toot.account.url }}" target="_blank" rel="noopener noreferrer" itemprop="url">
            <p class="p-name title is-5" itemprop="name">{{ $displayName | safeHTML}}</p>
            <p class="subtitle is-6">@{{ $toot.account.username}}@{{ $instanceHost }}</p>
          </a>
        </div>
      </div>

      <div class="p-content content">
        {{ if strings.HasSuffix $toot.content "</p>"}}
        {{ strings.TrimPrefix "<p>" (strings.TrimSuffix "</p>" $toot.content) | safeHTML }}
        {{ else }}
        {{ $toot.content | safeHTML }}
        {{ end }}
      </div>

      <div class="toot-meta">
        <a href="{{ $toot.url }}" class="u-url" target="_blank" rel="noopener noreferrer" itemprop="url">
          {{- $date := time $toot.created_at }}
          <time class="dt-published" datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" $toot.created_at }}" itemprop="datePublished">
          {{ dateFormat "Jan 2, 2006, 15:04" $toot.created_at }}</time></a>
        · 
        <a href="{{ $toot.url }}/reblogs" target="_blank" rel="noopener noreferrer">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-retweet"></i>
          </span>
          <span>{{ $toot.reblogs_count }}</span>
        </span></a>
        · 
        <a href="{{ $toot.url }}/favourites" target="_blank" rel="noopener noreferrer">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-star"></i>
          </span>
          <span>{{ $toot.favourites_count }}</span>
        </span></a>
      </div>
    </div>
  </div>
</div>

{{- end -}}